**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [9]:
# Dependencies
import pandas as pd

In [10]:
# Create a reference the CSV file desired
csv_path = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

# Read the CSV into a Pandas DataFrame
new_coders_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
new_coders_df.head()

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [12]:
# Inspect all columns
new_coders_df.count()

Age                      13613
AttendedBootcamp         15380
BootcampFinish             933
BootcampFullJobAfter       635
BootcampLoanYesNo          934
BootcampMonthsAgo          631
BootcampName               895
BootcampPostSalary         330
BootcampRecommend          937
ChildrenNumber            2554
CityPopulation           13630
CodeEventBootcamp           42
CodeEventCoffee           2077
CodeEventConferences      2898
CodeEventDjangoGirls        18
CodeEventGameJam            22
CodeEventGirlDev           558
CodeEventHackathons       2422
CodeEventMeetup            313
CodeEventNodeSchool        480
CodeEventNone             8900
CodeEventOther             921
CodeEventRailsBridge       255
CodeEventRailsGirls         14
CodeEventStartUpWknd       743
CodeEventWomenCode         711
CodeEventWorkshop           23
CommuteTime               8339
CountryCitizen           13654
CountryLive              13610
                         ...
PodcastWebAhead             15
ResourceBlogs               30
ResourceBooks              144
ResourceCodeWars          1563
ResourceCodecademy        9586
ResourceCoursera          4844
ResourceDevTips            968
ResourceEdX               3472
ResourceEggHead             29
ResourceFCC              10937
ResourceGoogle              55
ResourceHackerRank          30
ResourceKhanAcademy       3746
ResourceLynda              150
ResourceMDN                 26
ResourceOdinProj          1687
ResourceOther             2093
ResourcePluralSight       3565
ResourceReddit              29
ResourceSkillCrush          36
ResourceSoloLearn           30
ResourceStackOverflow      191
ResourceTreehouse          422
ResourceUdacity           3306
ResourceUdemy             4130
ResourceW3Schools          121
ResourceYouTube            121
SchoolDegree             13679
SchoolMajor               8450
StudentDebtOwe            3514
Length: 113, dtype: int64

In [15]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
columns = [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
reduced_coders_pd = new_coders_df.iloc[columns]
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [20]:
#extract_df.AttendedBootcamp.replace(to_replace=[0 ,1], value=['no', 'yes'])
extract_df = 'AttendedBootcamp'
extract_df = reduced_coders_pd['AttendedBootcamp'].apply(lambda x: 0 if x=='no' else 1)
extract_df.head()

0    1
1    1
2    1
3    1
4    1
Name: AttendedBootcamp, dtype: int64

In [21]:
# Calculate total number of respondents in survey
total_surveyed = len(extract_df)
total_surveyed

20

In [22]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamps = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"]== 'Yes']

//anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [27]:
# Calculate average age of attendees
average_age = attended_bootcamps["Age"].mean()

# Calculate how many people attended a bootcamp
amount_attended = attended_bootcamps["AttendedBootcamp"].count()
# Calculate how many attendees hold degrees
holds_degree = attended_bootcamps["SchoolDegree"].count()
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_bootcamps["Gender"].count()
male = attended_bootcamps["Gender"].value_counts()['male']
female = attended_bootcamps["Gender"].value_counts()['female']
non_gender_specific = total_gender - male - female
# Calculate percentage of respondents who attended a bootcamp
percent_attended = amount_attended / total_surveyed * 100
# Calculate percentage of respondents belonging to each gender
male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_gender_specific_percent = (non_gender_specific/total_gender) * 100
# Calculate percentage of attendees with a school degree
degree_percentage = (holds_degree/amount_attended) * 100
# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

KeyError: 'male'

In [28]:
# Create a new table consolodating above calculations
bootcamp_breakdown = pd.DataFrame({"Total Surveyed": [total_surveyed], 
                                   "Total Bootcamp attendees": [amount_attended],
                                  "% attended bootcamp": [percent_attended],
                                  "Avg. Age": [average_age], 
                                  "% Male": [male_percent], 
                                  "% Female": [female_percent], 
                                  "% Non Gender Specific": [non_gender_specific_percent],
                                  "Has a degree": [degree_percentage],
                                  "Average Post Bootcamp Salary": [avg_salary]
                                  
})
bootcamp_breakdown = bootcamp_breakdown[["Total Surveyed", "Total Bootcamp attendees", "% attended bootcamp", "Avg. Age"]]
bootcamp_breakdown = bootcamp_breakdown.round(2)

bootcamp_breakdown

NameError: name 'percent_attended' is not defined

In [29]:
# Improve formatting before outputting spreadsheet
bootcamp_breakdown["% Male"] =bootcamp_breakdown["% Male"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Female"] =bootcamp_breakdown["% Female"].map("{0:,.2f}%".format)
bootcamp_breakdown["% attended bootcamp"] =bootcamp_breakdown["% attended bootcamp"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Non Gender Specific"] =bootcamp_breakdown["% Non Gender Specific"].map("{0:,.2f}%".format)
bootcamp_breakdown["Has a degree"] =bootcamp_breakdown["Has a degree"].map("{0:,.2f}%".format)
bootcamp_breakdown["Average Post Bootcamp Salary"] =bootcamp_breakdown["Average Post Bootcamp Salary"].map("{0:,.2f}%".format)
bootcamp_breakdown

NameError: name 'bootcamp_breakdown' is not defined

In [ ]:
# Export to Excel
bootcamp_breakdown.to_excel("output/Bootcamppart1.xlxs", index=False)